---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const projects = (await getCollection("work")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
  title="Mes projets | Cherpakova Anastasiia"
  description="Découvrez mes projets les plus récents ci-dessous pour avoir une idée des mon expérience passée"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="Mes projets"
        tagline="Découvrez mes projets les plus récents ci-dessous pour avoir une idée des mon expérience passée."
        align="start"
      />

      <!-- <template>
        <div class="carousel">
          Ваш код для карусели здесь
          <div class="carousel-item">
            <img
              src="./public/assets/portrait-crayon.jpg"
              alt="Image 1"
            />Portrait de famille
          </div>
          <div class="carousel-item">
            <img src=".jpg" alt="Image 1" />your content
          </div>
          <div class="carousel-item">
            <img src="image1.jpg" alt="Image 1" />your content
          </div>
        </div>
      </template> -->

      <!-- Это страница с портфолио  -->
      <!-- Первоначальный код -->
      <Grid variant="offset">
        {
          projects.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
